{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Socialsecuritynumber</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.socialSecurityNumber }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.gender }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('person_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
