{% extends 'base.html.twig' %}
{% form_theme edit_form 'form/bootstrap_3_layout.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}">
    <section class="content">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{{'Create new Meeting'|title}}</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-demo">
                                <a class="btn btn-default pull-left" href="{{ path('meeting_index') }}">Back</a>
                                <input class="btn btn-primary" type="submit" value="Save" />
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/momentjs/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/momentjs/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
    <script>
        $('.datepicker').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD h:mm:ss',
        clearButton: true,
        weekStart: 1,
        time: true
    });
    </script>
{% endblock %}