{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="block-header">
                    <h2>Meetings</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body table-responsive">
                            {% include '@FullCalendar/Calendar/calendar.html.twig' %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Location</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for meeting in meetings %}
                                    <tr>
                                        <td><a href="{{ path('meeting_show', { 'id': meeting.id }) }}">{{ meeting.id }}</a></td>
                                        <td>{{ meeting.name }}</td>
                                        <td>{% if meeting.startTime %}{{ meeting.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if meeting.endTime %}{{ meeting.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{{ meeting.location }}</td>
                                        <td>{{ meeting.description }}</td>
                                        <td>
                                            <a href="{{ path('meeting_show', { 'id': meeting.id }) }}" data-toggle="tooltip" data-placement="top" title="Show">
                                                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">filter_none</i>
                                                </button>
                                            </a>
                                            <a href="{{ path('meeting_edit', { 'id': meeting.id }) }}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <button type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        <button type="button" class="btn btn-default btn-circle-lg waves-effect waves-circle waves-float pull-right">
            <a href="{{ path('meeting_new') }}" data-toggle="tooltip" data-placement="top" title="Novo">
                <i class="material-icons">add_box</i>
            </a>
        </button>
        </div>
    </section>

{% endblock %}
{% block javascripts %}

    {# {{ parent() }} #}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/node-waves/waves.js') }}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/js/admin.js') }}"></script>
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/js/pages/index.js') }}"></script>

    <!-- Demo Js -->
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/js/demo.js') }}"></script>

    <!-- DateTimePicker -->
    <script type="text/javascript" src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>

{% endblock %}
